{% extends 'layouts/main.html' %}
{% block title %}New Artist{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      {{ form.hidden_tag() }}
      <h3 class="form-heading">List a new artist</h3>
      
      <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        <label for="name">Name</label>
        {{ form.name(class_='form-control', autofocus=True) }}
        {% for error in form.name.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.city.errors or form.state.errors %} has-error{% endif %}">
        <label>City & State</label>
        <div class="form-inline">
          <div class="form-group{% if form.city.errors %} has-error{% endif %}">
            {{ form.city(class_='form-control', placeholder='City', autofocus=True) }}
            {% for error in form.city.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group{% if form.state.errors %} has-error{% endif %}">
            {{ form.state(class_='form-control', placeholder='State', autofocus=True) }}
            {% for error in form.state.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
        <label for="phone">Phone</label>
        {{ form.phone(class_='form-control', placeholder='xxx-xxx-xxxx', autofocus=True) }}
        {% for error in form.phone.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.genres.errors %} has-error{% endif %}">
        <label for="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_='form-control', placeholder='Genres, separated by commas', autofocus=True) }}
        {% for error in form.genres.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.facebook_link.errors %} has-error{% endif %}">
        <label for="facebook_link">Facebook Link</label>
        {{ form.facebook_link(class_='form-control', placeholder='http://', autofocus=True) }}
        {% for error in form.facebook_link.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.image_link.errors %} has-error{% endif %}">
        <label for="image_link">Image Link</label>
        {{ form.image_link(class_='form-control', placeholder='http://', autofocus=True) }}
        {% for error in form.image_link.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.website_link.errors %} has-error{% endif %}">
        <label for="website_link">Website Link</label>
        {{ form.website_link(class_='form-control', placeholder='http://', autofocus=True) }}
        {% for error in form.website_link.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.seeking_venue.errors %} has-error{% endif %}">
        <label for="seeking_venue">Looking for Venues</label>
        {{ form.seeking_venue(placeholder='Venue', autofocus=True) }}
        {% for error in form.seeking_venue.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <div class="form-group{% if form.seeking_description.errors %} has-error{% endif %}">
        <label for="seeking_description">Seeking Description</label>
        {{ form.seeking_description(class_='form-control', autofocus=True) }}
        {% for error in form.seeking_description.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group{% if form.not_before_date.errors %} has-error{% endif %}">
        <label for="not_before_date">Available From</label>
        {{ form.not_before_date(class_='form-control', type='date', placeholder='yyyy-mm-dd', autofocus=True) }}
        {% for error in form.not_before_date.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group{% if form.not_after_date.errors %} has-error{% endif %}">
        <label for="not_after_date">Available Until</label>
        {{ form.not_after_date(class_='form-control', type='date', placeholder='yyyy-mm-dd', autofocus=True) }}
        {% for error in form.not_after_date.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group{% if form.not_before_time.errors %} has-error{% endif %}">
        <label for="not_before_time">Only Schedule Shows After</label>
        {{ form.not_before_time(class_='form-control', type='time', placeholder='hh:mm', autofocus=True) }}
        {% for error in form.not_before_time.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group{% if form.not_after_time.errors %} has-error{% endif %}">
        <label for="not_after_time">Only Schedule Shows Before</label>
        {{ form.not_after_time(class_='form-control', type='time', placeholder='hh:mm', autofocus=True) }}
        {% for error in form.not_after_time.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
      
      <input type="submit" value="Create Artist" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}